
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');




:root{
    --cor0:#0A425C;
    --cor1:#5CB7E1;
    --cor2:#199CDB;
    --cor3:#264B5C;
    --cor4:#1379A8;
    --cor5:#06105C;
    --cor6:#85ABDF;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    
    margin: auto;
}

header {
    background-image: linear-gradient(to bottom,var(--cor3), var(--cor5));
    min-height: 130px;
    text-align: center; 
    width: 100vw; 
}

header h1 {
    color: white;
    text-shadow: 1px 1px 6px rgba(14, 13, 13, 0.623);
    font-size: 50pt;
    font-family: 'Pacifico', cursive, sans-serif;
    font-weight: normal;
}

nav  {
    background-color: var(--cor5);
    padding: 20px 0px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.205); 
    width: 100vw; 
    
}

nav a {
    color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: normal;
    transition-duration: .5s;
    font-weight: normal;
}
ul li {
    display: inline;
    font-size:1.3em;
    
}


nav a:hover {
    background-color:var(--cor3);
    color: white;
}



footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: .8em;
    padding-bottom: 10px;
    width: 100vw;
}
footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2em;
    width: 100vw;
    margin-top: 5px;
    margin-bottom: 2px;
    padding-bottom: 5px;
}
#especial {
    display: inline;
    margin: 0px 10px;
}

footer p {
    color: white;
   
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}
p {            /*Comentario em css*/
    color: rgb(22, 30, 100);
    padding: 10px 0px;
    font-size: 18pt;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




.unid {
    
    width: 300px;
    height: 200px;
    background-color: rgba(238, 224, 98, 0.897);
    margin: 10px;
    display: inline-block;
    border-radius: 15px;
    
}
#prod {
    align-items: center;
    background-color: rgb(245, 149, 24);
    width: 100vw;
    text-align: center;
    justify-content: center;
    min-width: 280px;
    max-width: 1000px;
}
