
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


:root{
    --cor0:#0A425C;
    --cor1:#5CB7E1;
    --cor2:#199CDB;
    --cor3:#264B5C;
    --cor4:#1379A8;
    --cor5:#06105C;
    --cor6:#85ABDF;

    --font2: 'Redressed', cursive;
    --font3: 'Bebas Neue', cursive;
}

*{
    margin: 0;
    padding: 0;

}


header {
    background-image: linear-gradient(to bottom,var(--cor3), var(--cor5));
    min-height: 130px;
    text-align: center; 
    width: 100vw; 
  
}

header h1 {
    color: white;
    text-shadow: 1px 1px 6px rgba(14, 13, 13, 0.623);
    font-size: 50pt;
    font-family: var(--font2);
    font-weight: normal;
}

nav  {
    background-color: var(--cor5);
    padding: 20px 0px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.205); 
    width: 100vw; 
    position: relative;
   
}

nav a {
    color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-family: var(--font2);
    font-weight: normal;
    transition-duration: .5s;
    font-weight: normal;
    
}
ul li {
    width: 100vw;
    display: inline;
    font-size:1.7em;
    
}
nav a:hover {
    background-color:var(--cor3);
    color: white;
}



.footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 1.2em;
    padding: 10px 0px;
    width: 100vw;
}


.btn {
    background-color: rgba(11, 190, 11, 0.747);
    color: white;
    padding: 5px;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    position: absolute;
    bottom: 5px;
    text-align: center;
    transform: translate(-50%);

}
.btn:hover {
    font-weight: bold;
    color: var(--cor5);
    background-color:var(--cor1);
}

#prod {
    padding-top: 50px;
    position: relative;   
    display: inline-block;   
    text-align: center;
    min-width: 320px;
    max-width: 1300px;
    width: 100vw;
}
.unid {
    background-color: rgb(214, 214, 135);
    padding: 10px 0px;
    width: 300px;
    height: 285px;
    box-shadow: 1px 1px 2px;
    margin: 10px;
    display: inline-block;
    border-radius: 15px;
    position:relative;
    
}
.img-1{
    display: inline-block;
    width: 250px;
    height: 200px;
    cursor: pointer;
    text-align: center;
    
}
.form-1 h2 {
    position: absolute;
    text-align: center;
        position:absolute;
        bottom: 30px; 
        left: 50%;
        transform: translate(-50%);  
      
}
