@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');




:root{
    --cor0:#0A425C;
    --cor1:#5CB7E1;
    --cor2:#199CDB;
    --cor3:#264B5C;
    --cor4:#1379A8;
    --cor5:#06105C;
    --cor6:#85ABDF;

    --font1:'Pacifico', cursive, sans-serif;
}



*{
    margin: 0;
    padding: 0;
 
}

    /** {
        height: 100%;
    }*/


    body {
        width: 100vw;
    }
 header {
     background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
     color: white;
     width: 100vw;
     height: 180px;
     text-align: center;
     position: relative;
     top: 0px;
 }
 header h1 {
     font-family: var(--font1);
     font-size:3.5em;
     display: inline-block;
     position: relative;
     padding: 10px;
 }


 header h1 {
     animation-name: cabeca;
     animation-duration: 1s;
     overflow: hidden;
     animation-fill-mode: backwards;
 }
 @keyframes cabeca {
     from {
         opacity: 0;
         transform: scale(0.9);
     }
     to {
         opacity: 1;
         transform: scale(1);
     }
 }

 header h1 {
     overflow: hidden;
     animation:  move 500ms;
     animation-timing-function: ease-in-out;
 }


 @keyframes move {
     from {
         opacity: 0;
         transform: translateX(-100vw);
     }
     to {
         opacity: 1;
         transform: translateX(0%);
     }

 }
 nav  {
     background-color: var(--cor5);
     height: 30px;
     display: flex;
     padding: 15px 0px;
     width: 100vw;
     
 }
 nav a{
    color:white;
    position: relative;
    text-align: right;
    padding-right: 20px;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
 }
 nav ul {
    transform: translateX(10%);
    
 }
 main{
     min-width: 320px;
     max-width: 900px;
     box-shadow: 0px 0px 8px black;
     margin: auto;
     padding-bottom: 30px;
     margin-bottom: 20px;
     border-bottom-left-radius: 15px;
     border-bottom-right-radius: 15px;
     position: relative;
 }

 #dataHora {
     background-color: red;
     display: block;
     padding: 15px;
     position: relative;
     top: 10px;
     left: 10px;
     bottom: 10px; 
     float: left;
     clear: both;
 }
 
 #container-a{
     top: 10px;
     margin: 10px;
     box-shadow: 0px 0px 8px black;
     display: block;
     position: relative;
     width: 280px;
     height: auto;
     padding-left: 10px;
     padding-bottom: 10px;
     float: right;
     clear: both;
 }
 section{
    width: 100%;
    display: inline-block;
     position: relative;
     background-color: var(--cor1);
 }
 #container-b {
    box-shadow: 0px 0px 8px black;
    position:relative;
    
 }
 #img {
     position: relative;
     display: block;
     
     margin: 10px;
     
 }
 .outros-trabalhos {
     float: right;
     clear: both;
 }

 footer{
     width: 100vw;
     background-color: var(--cor5);
     height: 30px;
     color: white;
     text-align: center;
     font-size: 1.5em;
     padding: 10px 0px;
     position: relative;
     bottom: 0px;
 }
