
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


:root{
    --cor0:#0A425C;
    --cor1:#5CB7E1;
    --cor2:#199CDB;
    --cor3:#264B5C;
    --cor4:#1379A8;
    --cor5:#06105C;
    --cor6:#85ABDF;

    --font2: 'Redressed', cursive;
    --font3: 'Bebas Neue', cursive;
}

*{
    margin: 0;
    padding: 0;
}

    /** {
        height: 100%;
    }*/

   body {
       
       font-family: Arial, Helvetica, sans-serif;
       font-size: 18pt; 
         min-width: 280px;
         max-width: 800px;  
         width: 100vw; 
   }

header {
    background-image: linear-gradient(to bottom,var(--cor3), var(--cor5));
    min-height: 120px;
    text-align: center; 
    width: 100vw; 
}

header h1 {
 color: white;
 text-shadow: 1px 1px 6px rgba(14, 13, 13, 0.623);
 font-size: 50pt;
 font-family: var(--font2);
 font-weight: normal;
}

nav  {
 background-color: var(--cor5);
 padding-top: 10px;
 padding-bottom: 10px;
 box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.205); 
 width: 100vw;
}

nav a  {
    font-family: var(--font2);
 color: var(--cor1);
 padding: 10px;
 border-radius: 5px;
 text-decoration: none;
 font-weight: normal;
 transition-duration: .5s;
 min-width: auto;

}

nav a:hover {
 background-color:var(--cor3);
 color: white;
}

section{
    width: 100vw;
}

main {
    padding-top: 40px;
    padding-bottom: 40px; 
    width: 100vw;
    margin: auto;
}



#Loguin{
    display:flexbox;
    padding: 25px;
    background-color: transparent;
    box-shadow: 5px 5px 15px black;
    width: 290px;
    height: 500px;
    margin: auto;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    grid-auto-flow: column;
    
}

#log , #logsenha {
    background-color: transparent;
    color: rgba(13, 58, 204, 0.822);
    padding-left: 10px;
    font-size: 13pt;
    text-align:left;
    margin-right: auto;
    margin-left: auto;
    border: 0;
    border-bottom: 2px solid var(--cor0);
    cursor: text;
    box-sizing: border-box;
    outline: none;
    transition: .2s ease-in-out;
    display: flex;
    font-weight: bold;
}
input{
    background-color:var(--cor4);
    width: 300px;
    height: 30px;
    color:rgb(232, 240, 232);
    border: none;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 30px;
}
input:hover{
    background-color: var(--cor1);
    color: var(--cor5);
    
}



#p1 {
    color: var(--cor5);
    padding-top: 30px;
    margin-top: 35px;
    margin-bottom: 5px;
}

#button {
    background-color: var(--cor4);
    color: white;
    width: 300px;
    height: 40px;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 13pt;
    margin-top: 25px;
    font-weight: bold;
    margin-top: 5px;
}
#button:hover{
    background-color:var(--cor1);
    color: var(--cor5);
    cursor: pointer;
}



form {
    animation-name: fade;
    animation-duration: 3s;
    
}
@keyframes fade {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


form {
    animation-name: move;
    animation-duration: 500ms;
    animation-delay: 250ms;
    animation-fill-mode: backwards;
}
@keyframes move {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

.form-hide {
    animation: dow 500ms forwards;
    animation-timing-function: ease-out;
}
@keyframes dow {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100vh);
    }
}

